<!doctype html>
<html>
<head>
    <title>Short Links</title>
</head>
<body>
    <a href="{{ url_for('add_link') }}">Create short link</a>
    {% if messages %}
    <ul>
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message|safe }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <table border="1">
        <th>ID</th>
        <th>ORIGINAL URL</th>
        <th>SHORT NAME</th>
        <th>SHORT URL</th>
        <th colspan="3">ACTIONS</th>
        {% for link in links %}
        <tr>
            <td>
                <p>{{ link.id }} </p>
            </td>
            <td>
                <p>{{ link.original_url }} </p>
            </td>
            <td>
                <p>{{ link.short_name }} </p>
            </td>
            <td>
                <p>{{ link.short_url }} </p>
            </td>
            <td>
                <a href="{{ url_for('link_index', id=link.id) }}">View</a>
            </td>
            <td>
                <a href="{{ url_for('link_edit', id=link.id) }}">Edit</a>
            </td>
            <td>
                <a href="{{ url_for('link_delete_confirm', id=link.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>