<!doctype html>
<html>
<head>
    <title>Short Links</title>
</head>
<body>
    <a href="{{ url_for('get_links') }}">All links</a>
    <table border="1">
        <th>ID</th>
        <th>ORIGINAL URL</th>
        <th>SHORT NAME</th>
        <th>SHORT URL</th>
        <th>CREATED AT</th>
        <tr>
            <td>
                <p>{{ link.id }} </p>
            </td>
            <td>
                <p>{{ link.original_url }} </p>
            </td>
            <td>
                <p>{{ link.short_name }} </p>
            </td>
            <td>
                <p>{{ link.short_url }} </p>
            </td>
            <td>
                <p>{{ link.created_at }} </p>
            </td>
        </tr>
    </table>
</body>
</html>