{% extends "base.html" %}
{% block content %}
    <h1>{% if link %}Edit Link{% else %}Create New Link{% endif %}</h1>
    <form method="post">
        <label>Original URL:</label><br>
        <input type="url" name="original_url" value="{{ link.original_url if link else '' }}" required><br>
        <label>Short name:</label><br>
        <input type="text" name="short_name" value="{{ link.short_name if link else '' }}" required><br><br>
        <button type="submit">Save</button>
        <a href="/links">Cancel</a>
    </form>
{% endblock %}